#hero{
    
    & header{

        position: relative;

        display: flex;
        flex-direction: column;
        gap: 10.25rem;

        padding-bottom: 29.375rem;

        &::before{ /* Creating a background with ::before, for the animation */
            content:"";
            position: absolute;
            inset: 0;
            z-index: -1;

            background: url(./assets/images/hero-background.png) no-repeat top / cover;
            opacity: 0;

            animation: fadeIN 900ms ease forwards;
        }

        & nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 3.5rem;
            margin-inline: 10rem;

            & img:nth-child(1){
                display: none;
            }

            & a { /* Specific change in button */
                width: fit-content;
                padding-inline: 1.25rem;
            }
        }

        & div{
            display: flex;
            flex-direction: column;
            text-align: center;
            
            margin-inline: auto;

            gap: 2rem;
            max-width: 41rem;

            & h1{
                opacity: 0;
                animation: fadeIN 900ms 100ms ease forwards;
            }

            & p {
                font-size: var(--tx-sm);
                max-width: 80%;
                margin-inline: auto;

                opacity: 0;
                animation: fadeIN 900ms 300ms ease-in forwards;
            }
        }
    }
    
    & #subtitle {   
        display: inline-block;
        padding: 6rem 7.5rem 5rem;
        text-align: center;
        & span {
            width: 100%;
            font-weight: 500;
            font-size: var(--tx-md);
            line-height: 200%;
            color: var(--tx-title);

            & strong {
                color: var(--blue-light);
            }
        }

        & span:nth-child(2){
            animation: lightingUpWhite 2s ease both;
            animation-timeline: view();
            animation-range: 200px 350px;
       

            & strong {
                animation: lightingUpBlue 2s 300ms ease both;
                animation-timeline: view();
                animation-range: 200px 350px;
            }
        }

        & span:nth-child(3){
            animation: lightingUpWhite 2s 600ms ease both;
            animation-timeline: view();
            animation-range: 200px 350px;
       

            & strong {
                animation: lightingUpBlue 2s 800ms ease both;
                animation-timeline: view();
                animation-range: 200px 350px;
            }
        }

        & span:nth-child(4){
            animation: lightingUpWhite 2s 1s ease both;
            animation-timeline: view();
            animation-range: 200px 350px;
       

            & strong {
                animation: lightingUpBlue 2s 1.2s ease both;
                animation-timeline: view();
                animation-range: 200px 350px;
            }
        }

        & img {
            width: 5rem;
        }

        & img:nth-child(1){
            transform: rotate(30deg);
        }

        & img:nth-child(4){
            transform: translateY(2rem);
            transform: rotate(-20deg);
        }
    }
}

@keyframes fadeIN {

    to {
        opacity: 1;
    }
}

@keyframes lightingUpWhite {

    100% {
        color: var(--tx-title);
        opacity: 1;
    }
}

@keyframes lightingUpBlue {
    to {
        color: var(--blue-light);
    }
}



@media (width < 80em) {
    #hero{

        & header{
            padding: 1.25rem 1.25rem 12rem;
            gap: 3rem;

            & nav {
                margin: 0;

                & img:nth-child(1){
                    display: initial;
                }

                & img:nth-child(2){
                    display: none;
                }
            }

            & div p{
                font-size: var(--tx-xs);
            }
        }

        & #subtitle {

            & img {
                width: 2.5rem;
            }

            & span{
                font-size: var(--tx-sm);
            }
        }
    }
}
