footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    padding: 6.125rem 2rem 2.375rem;

    background: url(../assets/images/book-trace-background.png) no-repeat top/cover;
    
    
    
    & div{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & .social-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-top: 2px solid var(--shape-stroke);
        padding-top: 1rem;

        & a {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;

            position: relative;

            & img {
                width: 1.5rem;
                height: auto;

                transition: filter 500ms ease;
            }
            
            &:has(:hover){ 
                & img {
                    filter: brightness(0) invert(1);
                }

                &::before{
                    scale: 1;
                }
            }


            &::before{
                 content: "";

                width: inherit;
                height: inherit;
                border-radius: inherit;
                background-color: var(--shape-stroke);

                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;

                scale: 0;
                transition: scale 200ms;
            }
        }

    }
    
    & nav{
        display: flex;
        gap: 1.5rem;

        & ul {
            gap: .75rem;

            & li {
                list-style: none;
            }

            & li:nth-child(1){
                font-weight: 700;
                font-size: var(--tx-sm);
        
                margin-bottom: .5rem;
            }

            & a {
                font-weight: 500;
                font-size: var(--tx-xs);
                color: var(--blue-light);
                transition: color 200ms ease;

                &:hover{
                    color: var(--tx-body);
                }
            }
        }
    }

}

@media (width >= 80em) {
    footer{
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 10rem;
        padding-bottom: 6.375rem;
    }
}