*, *::before, *::after { /* Reset pre-configs browser */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ /* Setting variables */

    /* colors */
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;

    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-bg: #00050A;

    --tx-title: #F8FBFB;
    --tx-body: #E2E7E9;
    --tx-label: #BAC6C9;

    /* Typography */
    --tx-2xl: 3rem;
    --tx-xl: 2.5rem;
    --tx-lg: 2rem;
    --tx-md: 1.25rem;
    --tx-base: 1rem;
    --tx-sm: .875rem;
    --tx-xs: .625rem;
}

body{
    font-family: "Raleway", sans-serif;
    color: var(--tx-body);
    background-color: var(--shape-bg);

    & h1 {
        font-size: var(--tx-lg);
        font-weight: 700;
        color: var(--tx-title);
    }

    & h2 {
        font-size: var(--tx-lg);
        font-weight: 700;
        color: var(--tx-title);
    }

    & a {
        text-decoration: none;
        color: var(--tx-title);
        cursor: pointer;
    }
}

@media (width < 80em) {
    :root{
        --tx-lg: 1.75rem;
    }
}