#kit {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 14.6rem 5.5rem;

        & span{
            display: flex;
            gap: 1rem;
            align-items: center;

            & img {
                max-width: 2rem;
            }
        }

    }


    
    & .book-animation{
        position: relative;
        display: flex;
        justify-content: center;

        width: 100%;
        padding-block: 8.375rem 10.5625rem;

        & img:nth-child(1){ /* Book */
               width: 29.1875rem;
        }

        & img:nth-child(2){ /* bookmark purple */
               position: absolute;
               top: 14rem;
               right: 25rem;
               z-index: -1;

               width: 11rem;
               border-radius: .25rem;
               
               transition: right 1s ease, transform 1s ease;
        }
        & img:nth-child(3){ /* bookmark yellow */
               position: absolute;
               top: 10rem;
               right: 25rem;
               z-index: -1;
        
               width: 11rem;
               border-radius: .25rem;

               transition: right 1s ease, top 1s ease, transform 1s ease;
        }
        & img:nth-child(4){ /* Pins */
               position: absolute;
               bottom: 10rem;
               left: 30rem;
               z-index: -1;

               width: 13.875rem;
               transition: left 1s ease, bottom 1s ease, transform 1s ease;
        }

        & img:nth-child(5){ /* Top Pointer */
               position: absolute;
               top: 12rem;
               left: 30rem;
               z-index: -1;

               transition: left 1s ease, top 1s ease;
        }

        & img:nth-child(6){ /* Mid Pointer */
               position: absolute;
               bottom: 19rem;
               left: 30rem;
               z-index: -1;

               transition: left 1s ease;
        }

        & img:nth-child(7){ /* Bottom pointer */
               position: absolute;
               bottom: 15rem;
               right: 28rem;
               z-index: -1;

               transition: right 1s ease, bottom 1s ease;
        }

        & p:nth-child(8){ /* Text top */
            position: absolute;
            top: 13rem;
            left: 30rem;
            z-index: -1;

            transition: left 1s ease, top 1s ease;
        }
        & p:nth-child(9){ /* Text mid */
            position: absolute;
            bottom: 28rem;
            left: 30rem;
            z-index: -1;

            transition: left 1s ease;
        }
        & p:nth-child(10){ /* Text bottom */
            position: absolute;
            bottom: 14rem;
            right: 30rem;
            z-index: -1;

            transition: right 1s ease, bottom 1s ease;
        }
    }

    & .book-animation:hover{
        & img:nth-child(2){ /* bookmark purple */
               right: 12rem;
               transform: rotate(22deg);
        }
        & img:nth-child(3){ /* bookmark yellow */
               top: 6rem;
               right: 18rem;

               transform: rotate(12deg);
        }
        & img:nth-child(4){ /* Pins */
               bottom: 6rem;
               left: 17rem;
               
               transform: rotate(-8deg);
        }

        & img:nth-child(5){ /* Top Pointer */
               top: 7.25rem;
               left: 16.75rem;
        }

        & img:nth-child(6){ /* Mid Pointer */
               left: 14.5rem;
        }

        & img:nth-child(7){ /* Bottom pointer */
               bottom: 5rem;
               right: 16rem;
        }

        & p:nth-child(8){ /* Text top */
            top: 5rem;
            left: 12.5rem;
        }
        & p:nth-child(9){ /* Text mid */
            left: 14.5rem;
        }
        & p:nth-child(10){ /* Text bottom */
            bottom: 3rem;
            right: 20rem;
        }
    }

}

@media (width < 80em) {
    #kit {
        & .title {
            padding-block: 6.5rem 4rem;

            & span{
                
                & img {
                    max-width: 1.25rem;
                }
            }

            & p {
                font-size: var(--tx-sm);
            }
        }

        & .book-animation{
            padding-block: 3.375rem 9rem;

            & img:nth-child(1){
                width: 9.875rem;
            }

            & img:nth-child(2){
                width: 3.625rem;

                top: 5.5rem;
                right: 8rem;
            }
            & img:nth-child(3){
                width: 3.625rem;

                top: 4rem;
                right: 8rem;
            }
            & img:nth-child(4){
                width: 4.625rem;

                bottom: 10rem;
                left: 9rem;
            }

            & img:nth-child(5){
                width: 3.625rem;

                top: 5rem;
                left: 8rem;
            }
            & img:nth-child(6){
                width: 2.1875rem;

                bottom: 11rem;
                left: 8rem;
            }
            & img:nth-child(7){
                width: 3.0625rem;

                bottom: 10rem;
                right: 8rem;
            }

            & p:nth-child(8){
                font-size: var(--tx-xs);

                top: 6rem;
                left: 8rem;
            }
            & p:nth-child(9){
                font-size: var(--tx-xs);

                bottom: 14.5rem;
                left: 8rem;
            }
            & p:nth-child(10){
                font-size: var(--tx-xs);

                bottom: 10rem;
                right: 8rem;
            }
        }

        & .book-animation:hover{

            & img:nth-child(2){
                top: 5.5rem;
                right: 2.5rem;
                transform: rotate(22deg);

            }
            & img:nth-child(3){
                top: 3rem;
                right: 4.4rem;
                transform: rotate(12deg);
            }
            & img:nth-child(4){
                bottom: 7rem;
                left: 4rem;
                transform: rotate(-8deg);
            }

            & img:nth-child(5){
                top: 3rem;
                left: 4rem;
            }
            & img:nth-child(6){
                bottom: 11rem;
                left: 3rem;
            }
            & img:nth-child(7){
                bottom: 7.5rem;
                right: 3.5rem;
            }

            & p:nth-child(8){
                top: 1.5rem;
                left: 1.5rem;
            }
            & p:nth-child(9){
                bottom: 14.5rem;
                left: 2rem;
            }
            & p:nth-child(10){
                bottom: 6.5rem;
                right: 3rem;
            }


        }
    }
}