#subscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    padding-block: 6.5rem;
    padding-left: 3.25rem;

    & .container {
        display: flex;
        align-self: start;
        gap: 1rem;

        overflow: visible;
        scrollbar-width: none;
    }

    /* & img:nth-child(2){
        position: absolute;
        top: 22rem;
        left: 34rem;
    } */

    & h2 {
        text-align: center;
    }

}
